@import url("http://fonts.cdnfonts.com/css/scientific-calculator-lcd");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  list-style: none;
  text-decoration: none;
}

body {
  min-height: 100vh;
  width: 100%;
  color: #aacfaf;
  font-family: "Scientific Calculator LCD", sans-serif;
  overflow-x: hidden;
}

h1 {
  font-size: 10px;
}

img {
  max-width: 100%;
}

button {
  background-color: inherit;
  border: none;
}
